.active-i19n-list
  .lang
    %select
      %option All

  .panel
    %h3
      %a Messages
      %span.breadcrumb_sep >>
      %a Mailer

    .panel_contents
      .translation
        .original
          .lang
            %p
              %i.pl
              pl - Polski
          .content-wrapper
            .content
              Wiadomość została wysłana
        .translation
          .lang
            %p
              %i.en
              en - English
            %p
              %b ONE
          .content-wrapper
            .content
              Wiadomość została wysłana
