%form.filter_form
  %input{type: "text", placeholder: I18n.t("active_i18n.search_placecholder")}
.scopes-list
  %ul
    %li
      %p
        %i.fa.fa-folder
        Device
      %ul 
        %li
          %p 
            %i.fa.fa-folder
            Communications
        %li
          %p 
            %i.fa.fa-folder
            Alerts
          %ul 
            %li
              %p 
                %i.fa.fa-folder
                Notices
            %li
              %p 
                %i.fa.fa-folder
                Errors
        %li
          %p 
            %i.fa.fa-folder
            Standards