<!DOCTYPE html>
<html>
<head>
  <title>ActiveI18n</title>
  <%= stylesheet_link_tag    "active_i18n/application", :media => "all" %>
  <%= javascript_include_tag "active_i18n/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
