.active-i19n-list > .lang
  height: 35px


.active-i19n-list > .panel
  background: transparent
  & > h3
    margin-bottom: 0
    & > *
      color: #7f8c8d
      font-weight: 400
      padding-right: 6px
      font-size: 14px
      text-decoration: none
  .panel_contents
    padding: 0


.active-i19n-list .translation
  font-size: 14px
  & > div
    height: 90px
  .original
    background: #fff
    overflow: hidden
    .lang
      border-color: transparent

  .lang
    float: left
    width: 130px
    height: 90px
    border-right: #d3d8dc 1px solid
    p
      padding: 12px 15px
      margin-bottom: 0
  .content-wrapper
    margin-left: 130px
    .content
      padding: 12px 15px
